# Python specific ignores
# Byte-code files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment

env/
venv/

# Environment variables (sensitive data)

.env
*.env

# IDE specific files

.vscode/

# Operating System Files
.DS_Store # macOS specific
Thumbs.db # Windows specific

# Log files
*.log
*.tmp

# Captured faces directory

captured_faces/

